<nav>
        <div class="logo">
            <h1>Daily Wages Workforce</h1>
            <h2>Work Today, Earn Today.</h2>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            
            <li><a href="/captainBot">Captain</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/AddJob">Addjob</a></li>
             {{#if isAuthenticated}}
            <li><a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/LoginPage">Login</a></li>
        {{/if}}
            <div class="profile">
                <a href="/profile"><img src="/img/8847419.png"></a>
            </div>
          
            
          
        </ul>
    </nav>