<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style.css">
</head>,

<body>
  
   
    <div class="logo-image">
        <img src="/img/Login B2.png" alt="logo image">
       
    </div>

    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form" action="/LoginPage" method="POST">
            <input type="text" id="username" name="name" placeholder="Username" >
            <input type="number" id="adharnumbeer" name="adharnumbeer" placeholder="AdharNumber" >
            
            <button type="submit">Login</button>
        </form>
        <div id="error-message" class="error-message"></div>
        <div>Don't have an account- 
            <a href="/signup">Signup</a>
        </div>
    </div>
    <section>

    </section>
   
  
</body>

</html>